In [250]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [251]:
df = pd.read_csv('data.csv')
df

      Invoice ID Branch  ... gross income Rating
0    750-67-8428      A  ...      26.1415    9.1
1    226-31-3081      C  ...       3.8200    9.6
2    631-41-3108      A  ...      16.2155    7.4
3    123-19-1176      A  ...      23.2880    8.4
4    373-73-7910      A  ...      30.2085    5.3
..           ...    ...  ...          ...    ...
995  233-67-5758      C  ...       2.0175    6.2
996  303-96-2227      B  ...      48.6900    4.4
997  727-02-1313      A  ...       1.5920    7.7
998  347-56-2442      A  ...       3.2910    4.1
999  849-09-3807      A  ...      30.9190    6.6

[1000 rows x 17 columns]

In [252]:
df.shape

(1000, 17)

In [253]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

So, There are thousand rows & 17 columns

Here,
- Cogs - Cost of Goods Sold
- Gross Income - Profit Made Over Product

In [254]:
df.apply(lambda x: len(x.unique()))

Invoice ID                 1000
Branch                        3
City                          3
Customer type                 2
Gender                        2
Product line                  6
Unit price                  943
Quantity                     10
Tax 5%                      990
Total                       990
Date                         89
Time                        506
Payment                       3
cogs                        990
gross margin percentage       1
gross income                990
Rating                       61
dtype: int64

In [255]:
df.apply(lambda col: col.unique())

Invoice ID                 [750-67-8428, 226-31-3081, 631-41-3108, 123-19...
Branch                                                             [A, C, B]
City                                           [Yangon, Naypyitaw, Mandalay]
Customer type                                               [Member, Normal]
Gender                                                        [Female, Male]
Product line               [Health and beauty, Electronic accessories, Ho...
Unit price                 [74.69, 15.28, 46.33, 58.22, 86.31, 85.39, 68....
Quantity                                     [7, 5, 8, 6, 10, 2, 3, 4, 1, 9]
Tax 5%                     [26.1415, 3.82, 16.2155, 23.288, 30.2085, 29.8...
Total                      [548.9715, 80.22, 340.5255, 489.048, 634.3785,...
Date                       [1/5/2019, 3/8/2019, 3/3/2019, 1/27/2019, 2/8/...
Time                       [13:08, 10:29, 13:23, 20:33, 10:37, 18:30, 14:...
Payment                                         [Ewallet, Cash, Credit card]
cogs                       [522.83, 76.4, 324.31, 465.76, 604.17, 597.73,...
gross margin percentage                                        [4.761904762]
gross income               [26.1415, 3.82, 16.2155, 23.288, 30.2085, 29.8...
Rating                     [9.1, 9.6, 7.4, 8.4, 5.3, 4.1, 5.8, 8.0, 7.2, ...
dtype: object

For Us, Invoice ID, Unit Price , Tax 5% & Gross Margin of no use
So, We will drop them

In [256]:
df.drop(columns=['Invoice ID','Unit price','Tax 5%','gross margin percentage'],axis=1,inplace = True)

In [257]:
df.isnull().sum()

Branch           0
City             0
Customer type    0
Gender           0
Product line     0
Quantity         0
Total            0
Date             0
Time             0
Payment          0
cogs             0
gross income     0
Rating           0
dtype: int64

Now, Some Data Understanding

In [258]:
df['Rating'].max()

10.0

In [259]:
df['Rating'].min()

4.0

In [260]:
df['Date'].max()

'3/9/2019'

In [261]:
df['Date'].min()

'1/1/2019'

In [262]:
df['Time'].min()

'10:00'

In [263]:
df['Time'].max()

'20:59'

In [264]:
df.sort_values(by=['Date','Time'])

    Branch       City Customer type  ...    cogs gross income  Rating
17       A     Yangon        Normal  ...  435.66       21.783     6.9
970      B   Mandalay        Member  ...  846.30       42.315     9.0
839      C  Naypyitaw        Member  ...  175.32        8.766     5.0
523      C  Naypyitaw        Normal  ...  125.74        6.287     5.0
567      A     Yangon        Normal  ...  591.66       29.583     7.7
..     ...        ...           ...  ...     ...          ...     ...
122      B   Mandalay        Member  ...  899.64       44.982     4.2
45       B   Mandalay        Member  ...  375.84       18.792     9.5
73       C  Naypyitaw        Normal  ...  455.46       22.773     8.7
234      A     Yangon        Member  ...  519.40       25.970     6.5
326      A     Yangon        Member  ...  498.90       24.945     5.4

[1000 rows x 13 columns]

In [265]:
df['Day']= pd.to_datetime(df['Date'] +" "+ df['Time'], format='%m/%d/%Y %H:%M')

In [266]:
df.head(2)

  Branch       City Customer type  ... gross income Rating                 Day
0      A     Yangon        Member  ...      26.1415    9.1 2019-01-05 13:08:00
1      C  Naypyitaw        Normal  ...       3.8200    9.6 2019-03-08 10:29:00

[2 rows x 14 columns]

In [267]:
df.drop(columns=['Date','Time'],axis=1,inplace=True)

So, Data is collected from 1st January 2019 to 9th March 2019 & Store Opening time is 10 A.M. & Closing Time around 9 P.M.

In [268]:
!pip install pandasql

Requirement already satisfied: pandasql in /usr/local/lib/python3.7/dist-packages (0.7.3)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.3.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.19.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.4.31)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (1.1.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (4.10.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.7.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.10.0.2)

In [269]:
import pandasql as psq

Here, I am using SQL

Renaming Columns

In [270]:
df.columns = ['Branch', 'City', 'Customer_Type', 'Gender', 'Product_Line', 'Quantity','Total', 'Payment', 'COGS', 'Gross_Income', 'Ratings','Day']

In [271]:
df.columns

Index(['Branch', 'City', 'Customer_Type', 'Gender', 'Product_Line', 'Quantity',
       'Total', 'Payment', 'COGS', 'Gross_Income', 'Ratings', 'Day'],
      dtype='object')

In [272]:
print(psq.sqldf("SELECT * FROM df"))

    Branch       City  ... Ratings                         Day
0        A     Yangon  ...     9.1  2019-01-05 13:08:00.000000
1        C  Naypyitaw  ...     9.6  2019-03-08 10:29:00.000000
2        A     Yangon  ...     7.4  2019-03-03 13:23:00.000000
3        A     Yangon  ...     8.4  2019-01-27 20:33:00.000000
4        A     Yangon  ...     5.3  2019-02-08 10:37:00.000000
..     ...        ...  ...     ...                         ...
995      C  Naypyitaw  ...     6.2  2019-01-29 13:46:00.000000
996      B   Mandalay  ...     4.4  2019-03-02 17:16:00.000000
997      A     Yangon  ...     7.7  2019-02-09 13:22:00.000000
998      A     Yangon  ...     4.1  2019-02-22 15:33:00.000000
999      A     Yangon  ...     6.6  2019-02-18 13:28:00.000000

[1000 rows x 12 columns]

In [273]:
print(psq.sqldf("SELECT Min(Quantity) , Min(Total), Min(COGS) FROM df"))

   Min(Quantity)  Min(Total)  Min(COGS)
0              1     10.6785      10.17

So, There is no Negative Value

In [274]:
df.groupby(['Branch','City'])[['Gross_Income','COGS']].sum()

                  Gross_Income       COGS
Branch City
A      Yangon        5057.1605  101143.21
B      Mandalay      5057.0320  101140.64
C      Naypyitaw     5265.1765  105303.53

Here, We found 
- Branch A is only in City Yangon
- Branch B is only in City Mandalay
- Branch C is only in City Naypyitaw

So, We can only use Branch or City

In [275]:
df.drop(columns=['City'],axis=1,inplace=True)

**Rounding Off Total & Gross_Income**

In [276]:
df.head(5)

  Branch Customer_Type  Gender  ... Gross_Income  Ratings                 Day
0      A        Member  Female  ...      26.1415      9.1 2019-01-05 13:08:00
1      C        Normal  Female  ...       3.8200      9.6 2019-03-08 10:29:00
2      A        Normal    Male  ...      16.2155      7.4 2019-03-03 13:23:00
3      A        Member    Male  ...      23.2880      8.4 2019-01-27 20:33:00
4      A        Normal    Male  ...      30.2085      5.3 2019-02-08 10:37:00

[5 rows x 11 columns]

In [277]:
df.Total = df.Total.round(2)

In [278]:
df.Gross_Income = df.Gross_Income.round(2)

In [279]:
df.head(5)

  Branch Customer_Type  Gender  ... Gross_Income  Ratings                 Day
0      A        Member  Female  ...        26.14      9.1 2019-01-05 13:08:00
1      C        Normal  Female  ...         3.82      9.6 2019-03-08 10:29:00
2      A        Normal    Male  ...        16.22      7.4 2019-03-03 13:23:00
3      A        Member    Male  ...        23.29      8.4 2019-01-27 20:33:00
4      A        Normal    Male  ...        30.21      5.3 2019-02-08 10:37:00

[5 rows x 11 columns]

Now, We have done necessary steps for Data Visualization

In [280]:
df.to_csv('Data_Visualization.csv',index=False)

Google Dashboard ->
[**Here** ](https://datastudio.google.com/reporting/cb307bce-645d-462f-86ed-96e21a4a5799)